.friendMessage {
    margin-top: 47px;
    margin-left: 47px;



}

.friendImageAndText {
    display: flex;





}

.friendImageAndText img {
width: 48px;

}

.friendText {
    margin-right:5px ;
   border:1px solid lightgrey;
    border-radius: 5px;
    background: #F5F7FB
;




}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
margin-top: 8px;
}
