.button {
background: #cc9c00;
}

.disabled {
    background: #004D99;

}

.secondary {
    background: lightskyblue;
}

.default {
    background: black;
}

.red {
    background:red
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
