.button {
background: #cc9c00;
}

.disabled {
    background: #004D99;

}

.secondary {
    background:  white;
    border: 2px solid lightskyblue;
    margin-left:20px ;
    height: 30px;
    width: 130px;
    left: 70px;
    top: 244px;
    border-radius: 3px;
    padding: 5px 24px 5px 24px;
    color:lightskyblue;
}

.default {
    background:  #0066CC;
    border: none;
    margin-left:20px ;
    height: 30px;
    width: 130px;
    left: 70px;
    top: 244px;
    border-radius: 3px;
    padding: 5px 24px 5px 24px;
    color:white;

;
}

.red {
    background:red
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
